<!DOCTYPE html>
<html>
<head>
    <title>soucit :: {titlelc}</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="files/soucit.css">
</head>
<body>
    <div class="header">
        <img class="cover" src="files/{filename}.png">
        <h3 class="heading">{band} • {title}</h3>
        <small>{date}</small>
    </div>
    <div class="article">
        {content}
    </div>
    <div class="footer">
        <small><a href="index.html">Zpět</a></small>
    </div>
</body>
</html>