<!DOCTYPE html>
<html>
<head>
    <title>soucit :: soucit</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="files/soucit.css">
</head>
<body>
    <div class="header">
        <img src="files/soucit.jpg" width="100%">
    </div>
    <div class="content">
        <i>kittchen je jen mňága a žďorp pro děcka co moc poslouchaly animal collective</i>
    </div>
    <div class="entries">
        {entries}
    </div>
    <div class="footer">
        <small><a href="about.html">?</a></small>
    </div>
</body>
</html>